<br>
<br>
<br>
<br>
<div id="foot" class="feet text-light">
    <br>
    <p>This is my footer</p>
</div>
</div>
<canvas id="background1" class="canvasLoader"></canvas>
<canvas id="background2" class="canvasLoader"></canvas>
<% include ../partials/foot.ejs %>